{% extends "base.html" %}

{% block disqus %}
<script src="https://giscus.app/client.js"
        data-repo="beiyuouo/cs-self-learning"
        data-repo-id="R_kgDOHCecoA"
        data-category="General"
        data-category-id="DIC_kwDOHCecoM4COM4X"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}